*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

server/datasources.development.json
server/config.development.json
dist/*
!dist/.gitkeep

# Client
/client/tmp
/client/node_modules
# e2e
/client/e2e/*.js
/client/e2e/*.map