<div class="row" *ngIf="!wasError else error">
  <div class="col-md-4">
    <h1>Password reset</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <input
          name="password"
          type="password"
          placeholder="New password"
          class="form-control"
          required
          ngModel
          #password="ngModel">
        <div class="form-control-feedback" *ngIf="password.touched && password.errors?.required">
          Please enter a new password.
        </div>
      </div>
      <div class="form-group">
        <input
          name="confirmPassword"
          type="password"
          placeholder="Confirm password"
          class="form-control"
          required
          ngModel
          matchPassword
          #confirmPassword="ngModel">
        <div class="form-control-feedback" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
          Please confirm the password.
        </div>
        <div class="form-control-feedback" *ngIf="confirmPassword.touched && confirmPassword.errors?.mismatchedPassword">
          Passwords do not match.
        </div>
      </div>
      <div>
        <button class="btn btn-primary cp" type="submit" [disabled]="!f.valid">Set new password</button>
      </div>
    </form>
  </div>
</div>
<ng-template #error>
  <h1>Oops, something went wrong.</h1>
  <p>
     Please check the error message above.
  </p>
</ng-template>